/* codewithcurious.com */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.nav-links {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    top: -0;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
header {
    background-image: url("image2.jpg");
    text-align: center;
    height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* About Me Section */
#about {
    padding: 50px;
    text-align: center;
}

/* Skills Section */
#skills {
    padding: 50px;
    background-color: #f2f2f2;
    text-align: center;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    display: inline-block;
    margin: 0 10px;
}

/* Projects Section */
#projects {
    padding: 30px;
    text-align: center;
    height: 300px;
}

.project {
    margin-bottom: 20px;
}

.project a {
    display: block;
    margin-top: 20px;
}

/* Contact Section */
#contact {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form label {
    margin-bottom: 10px;
}

#contact-form input,
#contact-form textarea {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* CSS */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 0px;
    text-decoration: none;
    background-color: #ffffff;
    color: #000;
    opacity: 0.7;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 268px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

.ph1 {
    text-align: left;
    font-size: 9px;

}
